<div class="container bg-secondary text-light rounded p-5 border-0 border-dark">
    <div class="container bg-secondary p-2">
      <h1 class="display-6">
        <%= friend.first_name %>
        <%= friend.last_name %>
      </h1>

<hr>

      <p>
        <%= friend.phone %> |
        <%= friend.email %> | 
        <%= friend.twitter %>
      </p>
    </div>
</div>
